.popupDetailsContainer {
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    position: fixed;
    z-index : 2;
    height : 600px;
    max-width : 60%;
    left : 20%;
    right : 20%;
    top : 5%;
    right : 10px;
    text-align: start;
}
.taskPara {
    word-wrap: break-word; 
}

.toDisplayStyling {
    display: block;
    height : 300px;
    width : 300px;
}

.toHideStyling {
    display: none;
    height : 0px;
    width : 0px;
}

.detailedViewButton {
    height : 40px;
    width : 80px;
    display : flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3px;
    border : 3px solid violet;
    border-radius : 20px;
}

.detailedViewButton:hover {
    background-color: violet; 
}

.detailedViewButton:hover .airTaggingContainerEditing {
    display : block;
}